attr==0.3.2
beautifulsoup4==4.12.3
ConfigParser==7.0.0
contextlib2==21.6.0
cryptography==42.0.5
Cython==3.0.10
dl==0.1.0
docutils==0.21.2
fpdf==1.7.2
faiss-cpu
HTMLParser==0.0.2
ipython==8.21.0
ipywidgets==8.1.1
Jinja2==3.1.2
pyjnius
keyring==25.2.0
langchain==0.1.17
lockfile==0.12.2
mock==5.1.0
numpy==1.24.2
openai==0.27.8
Pillow==10.3.0
protobuf==3.20.3
pydantic==1.10.15
pyOpenSSL==24.1.0
pyOpenSSL==24.1.0
pypdf
PyPDF2==3.0.1
python-dotenv==1.0.1
# pywin32==306
railroad==0.5.0
requests
Sphinx==7.3.7
streamlit
thread==2.0.1
tiktoken
tornado==6.3.3
trove_classifiers==2024.4.10
truststore==0.9.0
urllib3_secure_extra==0.1.0
# xmlrpclib
